---
import GitHub from "./icons/GitHub.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Link from "./icons/Link.astro";
import LinkButton from "./LinkButton.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
};
const PROJECTS = [
  {
    title: "Starbene",
    description:
      "Pagina web desarollada para una empresa destinada a la distribución de equipos de medicina estética.",

    image: "/projects/starbene.jpeg",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
    link: "https://www.starbene.com/",
  },
  {
    title: "Estilos interactivos",
    description:
      "Plataforma que realice junto a un curso sobre estilos. Tiene un diseño muy moderno y original. Creada desde cero con Next.js, React y Tailwind CSS.",
    github: "https://github.com/MilagrosVerde/estilos.git",
    image: "/projects/estilos.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
    link: "https://estilos-phi.vercel.app/",
  },
  {
    title: "App To Do",
    description:
      "Página web realizada para para anotar una lista de tareas, que permite seleccionar las fechas, filtrar las tareas, modificar, agregar o eliminarlas, asi como tambien hacer anotaciones o recordatorios dentro de cada una de las tareas.  ",
    github: "https://github.com/MilagrosVerde/AppToDo.git",
    image: "/projects/todo.jpeg",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
    link: "https://app-to-do-lovat.vercel.app/",
  },
  {
    title: "Ta Te Ti",
    description:
      "Este proyecto lo utilize para practicar los conceptos que habia aprendido en otro de los cursos que realice sobre JavaScript, agregar q lo hice con react y vite ",
    github: "https://github.com/MilagrosVerde/tateti.git",
    image: "/projects/tateti.jpeg",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
    link: "https://tateti-chi.vercel.app/",
  },
  {
    title: "Mario Bross",
    description:
      "En esta oportunidad cree el Juego Super Mario Bros con HTML, CSS y JavaScript. Haciendo este curso aprendí a usar Phaser, cargar y mostrar asset, animaciones y físicas ",
    github: "https://github.com/MilagrosVerde/mario.git",
    image: "/projects/mario.jpeg",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
    link: "https://mario-beta-six.vercel.app/",
  },
  {
    title: "Inmobiliaria Garcia Marquez",
    description:
      "Página web realizada para una inmobiliaria, entre las funciones que incluye este proyecto, destaco la posibilidad de registrarse en la página, filtrar inmuebles y acceder a mas información si así lo desea. ",
    github: "https://github.com/MilagrosVerde/inmobiliariaGM.git",
    image: "/projects/svgl.webp",
    tags: [TAGS.NEXT, TAGS.TAILWIND],
    link: "https://inmobiliaria-gm.vercel.app/",
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 pl-5">
        <div class="w-full md:w-1/2">
          <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
            <img
              alt="Recién llegado vs 5 años en Nueva Zelanda"
              class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="w-full md:w-1/2 md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GitHub class="size-6" />
                  Code
                </LinkButton>
              )}
              {link && (
                <LinkButton href={link}>
                  <Link class="size-4" />
                  Preview
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
